.chats {
    
}

.chat {
    width: 80%;
    height: 100px;
    margin-bottom: 20px;
    background-color: transparent;
}

.chat .photo{
    width: 100px;
    height: 100%;
    border-radius: 10px;
    background-color: brown;
}

.chat span {
    width: 800px;
    height: 100%;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(300, 6%, 14%, 0.25);
}